.css-1orzy9s{
    margin-right: 30px !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: black !important;
}

.header-bg{
    color: #200636 !important;
    /* background-color: #200636 !important; */
}
.MuiPaper-root{
    color: #200636 !important;
}