.menu-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header-form {
    width: 340px;
    margin-left: 46px;
    padding-left: 68px;
    position: relative;
}

.navbar-wrap {
    display: flex;
    flex-grow: 1;
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: flex !important;
    }

    .d-none {
        display: none !important;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }
}

.navbar-wrap ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
}

ul {
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.navbar-wrap ul li {
    display: block;
    position: relative;
}

li {
    list-style: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}